<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do list</title>
    <script src="https://kit.fontawesome.com/f6bb05b1a5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    

  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1 class="h1"> TO_DO WORK HERE <i class="fa-solid fa-pencil icon"></i></h1>   
      </div>
      
        
          <div>
            <form action="/" method="POST">
            <input class="input" type="text" name="work" placeholder="Add your work here">
            
            <input class="button" type="submit" value="+">
            </form>
          </div>
          <ul id="list">
          
          
           
           <% for(let i=0; i<workarr.length; i++){ %>
            <li> <input type="checkbox"  class="checkbox"><span class="listText"><%= workarr[i] %></span></li><hr class="line">
           <% } %>
           
          
        </ul>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>

