.container{
    background: linear-gradient(135deg, #be6a94, #ffdde1); 
    width: 100%;
    max-width: 540px;
    margin: 100px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
body{
    background: linear-gradient(to right, #ee9ca7, #ffdde1); 
}
.h1{
    font-family:"Montserrat";
    
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700; 
    align-items: center; 
    max-width: 50;
      
      color: rgb(255, 255, 255);
  }
.icon{
    float: right;
    font-size: 2rem;
    margin-right: 20px;
    margin-top: 5px;
    

}
.heading{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
form{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
  
    background: linear-gradient(to right, #ecd5e0, #fcd0e9); 
    border-radius: 40px;
    
}
.input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    font-weight: 14px;
    font-size: 20px;
    margin-left: 20px;
    
   
    
}
.button{
    background: linear-gradient(to left, #eb8ec0, #e7a8cb); 
    border: none;
    outline: none;
   padding: 10px 40px;
    border-radius: 40px;
    font-weight: 1000;
    font-size: 1.5rem;
    color: #ffffff;
}
ul li{
list-style:none;
font-size: 1.5rem;
padding: 12px 10px 12px 50px;
user-select: none;
cursor: pointer;



}
#list{
    margin-top: 20px;
}
 
.line{
    
    background: rgb(195, 123, 172);
    box-shadow: #3f2a35;
    border-radius: 2px;
    height: 2px;
}

.checkbox{
    margin-right: 60px;
    padding-right: 40px;
    height: 15px;
    width: 15px;
   
   

}
.listText{
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.checkbox:checked + span{
    text-decoration:line-through
  }